<!DOCTYPE html>

<head>
  <%- include('../common/common-head.ejs') %>

  <style type=text/css>
    section {
      margin-bottom: 20px;
    }

    label {
      margin-right: 20px;
    }
  </style>
</head>

<body>
  <section>
    <h4><%= __('dict.loginForm') %></h4>
    <label for="email"><%= __('dict.email') %>
      <input type="email" name="email" id="email" placeholder="email" autocomplete>
    </label>
    <label for="email"><%= __('dict.pwd') %>
      <input type="password" name="pwd" id="pwd" placeholder="password">
    </label>
    <button type="button" id="login" onclick="login()"><%= __('dict.login') %></button>
    <button type="button" id="join" onclick="javascript:location.href='/test/join'"><%= __('dict.join') %></button>
  </section>

  <footer>
    <p>AUTHOR. sjmarine97@gmail.com</p>

    <div>
      <select id="lang" onchange="javascript:changeLang(this.value)">
        <option value="en">English</option>
        <option value="ko">한국어</option>
        <option value="in">Bahasa Indonesia</option>
      </select>
    </div>
  </footer>

  <%- include('../common/common-script.ejs') %>

  <script>
    $(document).ready(function() {
      setUi()
      init()
    })

    // UI 설정
    const setUi = () => {
      // 현재 lang 표시
      getCookie('lang') === 'en' ? $('#lang').val('en') : getCookie('lang') === 'ko' ? $('#lang').val('ko') : $('#lang').val('in')
    }

    // 초기화
    const init = () => {
      // 테스트용
      $('#email').val('sjmarine97@gmail.com')
      $('#pwd').val('1234')
    }

    // 로그인
    const login = () => {
      const email = $('#email').val()
      const pwd = $('#pwd').val()

      // validation
      if (email === '') {
        return alert('<%= __('message.inputEmail') %>')
      }
      if (pwd === '') {
        return alert('<%= __('message.inputPwd') %>')
      }

      $.ajax({
        url: '/test/login',
        type: 'POST',
        data: {
          email: email,
          pwd: pwd,
        },
        success: function(data) {
          console.log(data)
          if (data.success === 200) {
            alert(data.message)
            location.href = '/test'
          } else {
            alert(data.message)
          }
        },
        error: function(err) {
          console.log(err)
          alert(`<%= __('sm500.loginFail') %>`)
        }
      })
    }
  </script>
</body>

</html>