<%
	const viewData = locals.viewData
	const users = locals.users
	const usersPerDates = locals.usersPerDates
%>

<!DOCTYPE html>

<head>
  <%- include('../common/common-head.ejs') %>

  <style type=text/css>
    section {
      margin-bottom: 20px;
    }

    label {
      margin-right: 20px;
    }
  </style>
</head>

<body>
  <section>
    <h1><%- viewData.title %>, <%- user.userNm %></h1>

    <p><%= __('message.thisIsTestPage') %> :)</p>
    <p><%= __('message.curLangIs', __('appInfo.language')) %></p>

    <button type="button" id="logout" onclick="javascript:location.href='/test/logout'"><%= __('dict.logout') %></button>
  </section>

  <section class="mt40">
    <h2>Database Connection Test</h2>
    <h4>Users</h4>

    <% users.forEach((user, i) => { %>
    <p><%= user.userNm %></p>
    <% }) %>

    <h4>Users Per Dates</h4>

    <% usersPerDates.forEach((dt, i) => { %>
    <p><%= dt.joinDt %>: <%= dt.userCnt %></p>
    <% }) %>
  </section>

  <footer>
    <p>AUTHOR. seonjung.kim@cvrn.club</p>

    <div>
      <select id="lang" onchange="javascript:changeLang(this.value)">
        <option value="en">English</option>
        <option value="ko">한국어</option>
        <option value="in">Bahasa Indonesia</option>
      </select>
    </div>
  </footer>

  <%- include('../common/common-script.ejs') %>

  <script>
    $(document).ready(function() {
      setUi()
      init()
    })

    // UI 설정
    const setUi = () => {
      // 현재 lang 표시
      getCookie('lang') === 'en' ? $('#lang').val('en') : getCookie('lang') === 'ko' ? $('#lang').val('ko') : $('#lang').val('in')
    }

    // 초기화
    const init = () => {
      // 
    }
  </script>
</body>

</html>